/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap");

:root {
  --bg-color: #f9fafb;
  --gray-color: #a09a9a;
  --text-color: #fff;
  --span-one-color: #5eead4;
  --span-two-color: #fda4af;
  --black-color: #000;
  --bar-color: #535c68;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
}
